@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-50: #f1f6fd;
  --color-primary-100: #deeafb;
  --color-primary-200: #c5ddf8;
  --color-primary-300: #9dc7f3;
  --color-primary-400: #6fa9eb;
  --color-primary-500: #4382e2;
  --color-primary-600: #386dd8;
  --color-primary-700: #2f59c6;
  --color-primary-800: #2c4aa1;
  --color-primary-900: #29407f;
  --color-primary-950: #1d294e;

  --color-secondary-500: #a785f7;

  --color-purple-500: #a785f7;

  --color-pink-500: #de43d3;

  --color-beige-500: #fcdbcb;
}

body {
  @apply bg-slate-100 text-black;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  @apply mx-auto px-2 lg:px-8 max-w-6xl;
}

.bg-gradient-image {
  background-image: url("/images/bg_gradient.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
